<body>
    <div class="content">
        <div class="flex-wrap">
            <div class="sec-titulo">
                <h1 >Teoría : Algoritmos de ordenamiento</h1>
            </div>
            
            <div class="subtitulo">
                <h2>Introducción</h2>
            </div>

            <p>
                Los algoritmos de ordenamiento comprenden una serie de métodos que plantean una lógica para ordenar elementos en un Array, basándose en reglas que definen la relación de orden entre los elementos del mismo tipo.
            </p>

            <p>
                Si bien existe un gran número de algoritmos de ordenamiento, en esta herramienta se 
                realizó un desarrollo de aquellos más utilizados y comúnmente introducidos
                a la hora de abordar el tema. Los mismos son:
            </p>

            <ul>
                <li>Quick Sort.</li>
                <li>Bubble Sort.</li>
                <li>Heap Sort.</li>
                <li>Merge Sort.</li>
                <li>Selection Sort.</li>
                <li>Insertion Sort.</li>
            </ul>

            <p>
                Debido a que cada algoritmo de ordenamiento cuenta con una explicación asociada en su debida sección,
                el objetivo de este apartado consiste en explicar ciertas propiedades utilizadas para describir
                a los algoritmos de ordenamiento, como lo son la estabilidad y adaptabilidad de los mismos.
            </p>

            <div class="subtitulo">
                <h2>Adaptabilidad</h2>
            </div>
                
            <p>
                El factor fundamental que define si un algoritmo de ordenamiento es adaptativo o no depende de cómo la velocidad de ordenamiento es afectada por la existencia de un orden preexistente en la lista de datos.
            </p>

            <p>
                En el caso de los algoritmos de ordenamiento en los cuales un orden preexistente en el array resulta en un tiempo de cómputo reducido en comparación con un array desordenado, se consideran algoritmos adaptativos.
            </p>

            <p>
                Entre los algoritmos de ordenamiento desarrollados, aquellos considerados adaptativos son:

            </p>
            <ul>
                <li><strong>Insertion Sort:</strong> Cuando la colección a ordenar se encuentra en un estado 'Nearly sorted", la
                    complejidad temporal del mismo se ve reducida a O(n). El motivo se centra en el hecho que, al encontrarse la mayoría de los elementos en su posición final, los desplazamientos y comparaciones en el búcle interno son mínimas.
                </li>
                <li><strong>Bubble Sort:</strong> Al igual que el Insertion Sort, cuando la colección a ordenar se encuentra en un estado 'Nearly sorted", la complejidad temporal del mismo se ve reducida a O(n). El motivo se centra en
                    la naturaleza del proceso de burbujeo y el mecanismo de 'Early stopping', el cual detiene prematuramente la ejecución cuando detecta la no ocurrencia de swaps en la iteración previa. 
                </li>
            </ul>
            <p>Por otra parte, aquellos considerados no-adaptativos son:</p>
            <ul>
                <li><strong>Selection Sort.</strong></li>
                <li><strong>Merge Sort.</strong></li>
                <li><strong>Heap Sort.</strong></li>
                <li><strong>Quick Sort.</strong></li>
            </ul>

            <div class="subtitulo">
                <h2>Estabilidad</h2>
            </div>
            <p>
                El factor que define si un algoritmo de ordenamiento es estable o no está determinado por la respuesta a la siguiente pregunta: "Si un array a ordenar contiene dos valores idénticos, ¿está garantizada la posición relativa de dichos elementos (es decir, el que aparece "primero" en el array original sigue apareciendo "primero" en el array ordenado)?" En caso de que la respuesta sea "Sí", estamos frente a un algoritmo de ordenamiento estable.
            </p>
            <p>
                Si bien algunos de los no estableces pueden modificarse en función de que lo sean, dentro de los algoritmos de ordenamiento desarrollados, aquellos que son estables por naturaleza son:
            </p>
            <ul>
                <li><strong>Insertion Sort.</strong></li>
                <li><strong>Selection Sort.</strong></li>
                <li><strong>Bubble Sort.</strong></li>
                <li><strong>Merge Sort.</strong></li>
            </ul>
            <p>Por otra parte, aquellos considerados no estables son:</p>
            <ul>
                <li><strong>Quick Sort.</strong></li>
                <li><strong>Heap Sort.</strong></li>
            </ul>
            <p>La estabilidad de estos algoritmos se debe a sus características intrínsecas, las cuales garantizan la preservación del orden relativo de elementos con valores idénticos durante el proceso de ordenamiento.</p>
            <div class="subtitulo">
                <h2>In-place</h2>
            </div>
            <p>
                Si bien esta no es una propiedad única a los algoritmos de ordenamiento, en el contexto de los
                mismos, que sea "In-place" implica que el proceso de ordenamiento se realiza sobre la misma colección
                a ordenar, sin utilizar espacio extra a excepción de variables con una complejidad espacial de caracter constante.
            </p>
            <p>
                Dentro de los algoritmos desarollados, a excepción del 'Merge Sort' que utiliza colecciones auxiliares 
                sobre las cuales descompone las mitades, todos son "In-place".
            </p>

            <div class="bmar"></div>
        </div>
    </div>
</body>