<div class="modal-container">
    <div class="icon">
        <fa-icon (click)="closeModal()" [icon]="closeButton"></fa-icon>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 0">
        <div class="modal-content"
             [style.height]="modalHeight-90 + 'px'"
             [style.width]="modalWidth-40 + 'px'">
            <h1>Introducción</h1>
            <p>
                El algoritmo de ordenamiento QuickSort ha sido reconocido como uno de los diez mejores algoritmos del siglo XX en ciencia e ingeniería.
            </p>
            <p>
                Este método de ordenamiento se basa en la estrategia “Divide and Conquer” , donde el array se divide en porciones más pequeñas mediante sucesivas particiones. Durante este proceso, un elemento del conjunto, denominado "pivote", se utiliza para determinar qué elementos caen en la mitad izquierda y cuáles en la mitad derecha.
            </p>
            <p>
                El QuickSort cuenta con versiones iterativas y recursivas, pero en la herramienta se ha optado por implementar la versión iterativa.
            </p>
            <h1>Elección del pivote</h1>
            <p>El primer paso en el algoritmo QuickSort consiste en seleccionar un elemento para actuar como pivote al realizar la partición del rango a ordenar en dos mitades. Dentro de las técnicas comúnmente utilizadas se encuentran:</p>
            <ul>
                <li>El primer elemento de la sección a particionar se selecciona como pivote.</li>
                <li>El último elemento de la sección a particionar se selecciona como pivote.</li>
                <li>Un elemento aleatorio de la sección a particionar se selecciona como pivote.</li>
                <li>La mediana se selecciona como pivote.</li>
            </ul>
            <p>
                Entre las técnicas mencionadas, elegir el primer o el último elemento como pivote suele no ser una buena idea si no se aplica un Random Shuffle (mezcla aleatoria) en la etapa de preprocesamiento, ya que esto nos predispone ante el peor de los casos, el cual ocurre cuando el array está casi ordenado. La recomendación suele ser elegir la mediana como pivote, ya que tiende a generar una partición más equilibrada y reduce la probabilidad de malos desempeños en el algoritmo.
            </p>
            <br>
            <h1>Propieades</h1>
            <p>Las propiedades del Merge Sort son:</p>
            <ul>
                <li>In-Place.</li>
                <li>No adaptable.</li>
                <li>No estable.</li>
            </ul>
            <p>Es importante señalar que, aunque el QuickSort podría ser programado para que sea un algoritmo estable, esto añadiría cierta complejidad tanto en el aspecto espacial como temporal. Por lo tanto, en su versión estándar más comúnmente utilizada, el QuickSort no es estable. Además, este algoritmo no es adaptable, lo que significa que un orden preestablecido en el array no tiene un impacto positivo en su tiempo de cómputo.</p>

            <p><strong>ACLARACIÓN:</strong> Para obtener una explicación mas detallada acerca del significado de estas 
            propiedades, diríjase al apartado de "Teoría".</p>
        </div>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 2">
        <div class="modal-content"
             [style.height]="modalHeight-90 + 'px'"
             [style.width]="modalWidth-40 + 'px'">
            <h1>Procedimiento</h1>
            <p>
                A través de los siguientes pasos, se presenta una explicación detallada del proceso de ordenamiento:
            </p>
            <ul>
                <li><u>Selección del pivote:</u> Antes de comenzar con el proceso de particionamiento, se debe elegir la técnica de selección de pivote a ser implementada. Si bien, como se mencionó, la recomendación es la mediana,  en este caso, se ha optado por elegir el último elemento del array como pivote para facilitar la comprensión y reducir el número de referencias necesarias.
                </li>
                <li><u>Inicialización del Stack:</u> Se inicializa un stack que contendrá los índices de inicio y fin del rango sobre el cual se aplicará la partición. Debido a que la primera partición comprende la totalidad del array, se inserta en el stack un array con dos elementos: el índice del primer elemento (0) y el índice del último elemento (longitud del array menos uno).
                </li>
                <li><u>Proceso de particionamiento:</u> Se entra en un ciclo while cuya condición de corte es que el stack no esté vacío, lo que significa que aún se deben realizar más particionamientos y el array no está completamente ordenado.
                </li>
                <li><u>Pop del stack:</u> En cada iteración del ciclo while, se retira el elemento situado al tope del stack, el cual contiene los índices sobre los cuales se realizará la partición.
                </li>
                <li><u>Llamada al método de particionamiento:</u> Se llama al método responsable por realizar el particionamiento, otorgando por parámetro dos índices: el inicial y el final. Por practicidad, el término utilizado para referirse al índice inicial en la presente explicación es iLow, mientras que el índice final es llamado iHigh.
                </li>
                <li><u>Proceso de particionamiento detallado:</u>
                    <ul>
                        <li>Se elige el pivote según la metodología de elección previamente determinada.</li>
                        <li>Se inicializa una variable (iLowerThanPivote) que indica la posición hasta la cual existen elementos cuyo valor es menor al del pivote. Inicialmente, su valor es 0, ya que aún no se ha realizado ningún proceso comparativo ni tampoco ningún swap.</li>
                        <li>Se recorre el array desde iLow hasta iHigh mediante un ciclo for con un índice llamado j.</li>
                        <li>Si el valor de Array[j] es menor o igual al pivote, el elemento ubicado en la posición j intercambia posiciones(también conocido como swap) con el elemento ubicado en la posición iLowerThanPivote, y luego este último incrementa su valor en uno. Esto asegura que los valores menores al pivote queden ubicados del lado izquierdo y los mayores del lado derecho.</li>
                        <li>Una vez finalizado el ciclo for, se coloca el pivote en la posición indicada por iLowerThanPivote, mediante un intercambio de valores entre el elemento ubicado en iLowerThanPivote y el elemento en iHigh.</li>
                        <li>Se retorna el índice iLowerThanPivote, el cual, al finalizar el particionamiento, representa la posición sobre la cual se encuentra el pivote.</li>
                    </ul>
                </li>
                <li><u>Actualización del stack:</u> Se asigna el valor retornado por el método de particionamiento a la variable iPivote. Si la cantidad de elementos entre iLow e iPivote (no inclusivo) es mayor a uno, significa que no se puede garantizar que los elementos a la izquierda de iPivote estén ordenados. En ese caso, se inserta en el stack un nuevo array que contiene como primer elemento a iLow y como segundo elemento a iPivote-1. Lo mismo ocurre si la cantidad de elementos entre iPivote (no inclusivo) e iHigh es mayor a uno, indicando que no se puede garantizar que los elementos a la derecha de iPivote estén ordenados. En ese caso, se inserta en el stack un nuevo array que contiene como primer elemento a iPivote+1 y como segundo elemento a iHigh.</li>
                <li><u>Ciclo while recursivo:</u> Como se realiza un ciclo while mientras el stack no esté vacío, se repiten los pasos 4 al 7 para cada elemento en el stack, lo que hace que el algoritmo tenga una naturaleza recursiva pero adaptada a una secuencia iterativa.</li>
                <li><u>Finalización del proceso:</u> Una vez que el ciclo while termina porque el stack está vacío, se da por finalizada la ejecución del algoritmo y el array se encuentra ordenado.</li>
            </ul>
        </div>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 1">
        <div class="modal-content"
        [style.height]="modalHeight-90 + 'px'"
        [style.width]="modalWidth-40 + 'px'">
            <h1>Análisis complejidad temporal</h1>
            <h2>Caso Promedio</h2>
            <p>Para el caso promedio, se puede demostrar matemáticamente que se realizan aproximadamente 1.39* N * log<sub>2</sub> (N) particiones, donde N es la longitud del array.</p>
            <p>Sin embargo, debido a que mediante la Big O Notation se omiten las constantes, se puede afirmar que la complejidad temporal del QuickSort es  O(N*log<sub>2</sub>(N)).</p>
            <p>Es relevante destacar que, si bien el Quick Sort realiza un 33% más de comparaciones que el Merge Sort en promedio, es más rápido debido a que evita el movimiento de datos que se produce en el Merge Sort al instanciar las mitades izquierda y derecha en una variable auxiliar.</p>
            <h2>Peor Caso</h2>
            <p>En el peor de los casos puede probarse matemáticamente que el Quick Sort realiza un total de N<sup>2</sup>/2 comparaciones.</p>
            <p>De todas maneras, de aplicar un correcto preprocesamiento y elección de pivote según fue mencionado en instancias anteriores, puede probarse probabilísticamente que las posibilidades de que el peor caso ocurra son tan ínfimas que pueden despreciarse.</p>
            <h1>Análisis complejidad espacial</h1>
            <p> La complejidad espacial del Quick Sort está determinada por el tamaño de la recursion-stack en el caso de implementación recursiva o el tamaño del Stack en el caso de implementación iterativa.</p>
            <p>En ambos casos, se puede demostrar matemáticamente que el tamaño del stack no supera  O( log<sub>2</sub>(N)) , donde N es la longitud del array a ordenar. Esto significa que la cantidad de memoria adicional utilizada por el algoritmo es proporcional al logaritmo del tamaño del array, lo cual es una característica deseable, ya que la complejidad espacial se mantiene en un nivel bajo.
            </p>
        </div>
    </div>

    <div class="lower-modal-section">
        <div class="hline-wrap">
            <div class="hline"></div>
        </div>
        <div class="interaction-wrapper">
            <a class="back-button"[style.visibility]="curModalTab == 0 ? 'hidden' : 'visible'"
            (click)="goPreviousPage()">&laquo; Previous</a>
            <a class="next-button"[style.visibility]="curModalTab == 2 ? 'hidden' : 'visible'" (click)="goNextPage()">Next &raquo;</a>       
        </div>
    </div>
</div>